/***
standalone: true
***/

@font-face {
  font-family: 'proximasemibold';
  src: url('/vendor/proximanova-semibold-webfont.ttf')  format('truetype');
}

@font-face {
  font-family: 'proximaregular';
  src: url('/vendor/proximanova-regular-webfont.ttf')  format('truetype');
}

:root {
	--colorRed: #ED3954; /* hsl(11, 90%, 55%) */
	--colorRedGradient: linear-gradient(to left, #FF512F, #DD2476);
	--colorLight: white;
	--colorDark: black;
	--colorGrey1: #F6F8FA;
	--colorGrey2: #ececec;
	--colorGrey3: #ccc;
	--colorGrey4: #aaa;
	--colorGrey5: #ddd;

	--barSize: 5rem;
	--barContentSize: 2rem;
	--paddingSize: 3rem;
	--marginSize: 2rem;
	--sidebarSize: 300px;
	--fontMainSpacing: 0.02em;

	--bodyFont: "proximaregular", Helvetica, Arial, sans-serif;
	--bodyBackground: var(--colorGrey1);
	--bodyColor: var(--colorDark);

	--contentBackground: var(--colorLight);

	--headingFont: "proximasemibold", Helvetica, Arial, sans-serif;
	--headingFontLight: var(--bodyFont);

	--menuBackground: var(--colorRed);
	--menuColor: var(--colorLight);

	--borderColor: var(--colorGrey4);
	--accentColor: var(--colorRed);

	--tableOddRow: var(--colorGrey1);
	--tableHeader: var(--colorGrey1);

}

* {
	box-sizing: border-box;
}

/* icons */
.up > .icon::before {
	content: '↑';
}
.down > .icon::before {
	content: '↓';
}
.prev > .icon::before {
	content: '←';
}
.next > .icon::before {
	content: '→';
}

/* main */
html {
	font-family: var(--bodyFont);
	background: var(--bodyBackground);
	color: var(--bodyColor);
	overflow-wrap: break-word;
}
html, body, div {
	margin: 0;
	padding: 0;
}
.topbar .links, h1, h2, h3, h4, h5, h6 {
	font-family: var(--headingFont);
	font-weight: normal;
}
.topbar .secondary {
	font-family: var(--headingFontLight);
}

/* links */
a, .link  {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}
a:hover, .link:hover {
	color: inherit;
	text-decoration: underline;
}

/* misc */
blockquote {
	margin: 3em;
	color: var(--accentColor);
}
blockquote em {
	font-style: italic;
}
em {
	font-style: italic;
	color: var(--accentColor);
}
nav,
nav li {
	list-style: none;
}
code {
	background: var(--colorGrey1);
	padding: 0.2em 0.35em;
	border-radius: 3px;
	margin: 0 0.1em;
	font-size: 85%;
	letter-spacing: -0.02em;
	/* border: 1px solid var(--colorGrey5); */
}


/* ====================================
   Layout */

html, body, .container, .sidebar, .sidebar .list-menu {
	height: 100%;
}
html, body, div, nav, section, aside, article {
	width: 100%;
}
.topbar {
	position: fixed;
	z-index: 2;
	height: var(--barSize);
	border-bottom: 1px solid var(--borderColor);
	background: var(--menuBackground);
	color: var(--menuColor);
	top: 0;
	left: 0;
}
.topbar a {
	color: var(--menuColor) !important;
}
.sidebar {
	box-sizing: content-box;
	position: fixed;
	z-index: 1;
	width: var(--sidebarSize);
	padding-right: 20px;
	top: 0;
	left: 0;
	transition: left 0.3s ease-in;
}
.sidebar > .list-menu {
	overflow: auto;
	background: var(--contentBackground);
	box-shadow: 0px 7px 14px var(--colorGrey2);
	border-right: 1px solid var(--colorGrey2);
}
.topbar:hover + .sidebar,
.sidebar:hover {
	/* we've added  ontouchstart="" to .container to get this to work on mobile
	   http://stackoverflow.com/a/13080306/130638 */
	left: 0;
}
.contentbar {
	padding: var(--barSize) var(--paddingSize) 0;
	box-shadow: 0 0 1px white;
	padding-left: calc(var(--paddingSize) + var(--sidebarSize));
}
.contentbar > article {
	padding-bottom: 1em;
	position: relative;
	margin: 0 auto;
	max-width: 800px;
}

/* topbar */
.topbar {
	display: grid;
	grid-template-columns: 1fr 250px;
	grid-template-areas: "links search";
}
.topbar .search {
	grid-area: search;
	margin-top: calc((var(--barSize) - var(--barContentSize)) / 2);
	padding-right: var(--paddingSize);
}
.links {
	grid-area: links;
	overflow: hidden;
	line-height: var(--barContentSize);
	font-size: var(--barContentSize);
	line-height: 1em;
	margin-top: calc((var(--barSize) - var(--barContentSize)) / 2);
	margin-left: var(--paddingSize);
}
.topbar .primary:hover .text,
.topbar .secondary:hover {
	text-decoration: underline;
}
.topbar .logo {
	height: 0.6em;
	margin-bottom: -0.05em;
}
.topbar .primary {
	text-transform: lowercase;
}
.topbar a.secondary {
	font-size: 0.6em;
	margin-left: 3%;
}

.topbar .search * {
	box-sizing: content-box;
}
.gsc-control-cse {
	padding: 0 !important;
	border: none !important;
	background: none !important;
	border: none !important;
	color: black !important;
}
.gsc-input-box {
	border-radius: 1em !important;
}
td.gsc-search-button {
	display: none !important;
}
/*
td.gsc-search-button {
	background: #2c3e50 !important;
	border: none !important;
	border-radius: 1em !important;
	width: 2em !important;
	padding-right: 2px !important;
	text-align: center !important;
}
input.gsc-search-button {
	all: initial !important;
}
*/

/* ====================================
   Pages */

/* hide sidebar on docs and landing page */
.page-index .contentbar,
.page-docs .contentbar {
	background: var(--bodyBackground);
	border-left: none;
	padding-bottom: var(--barSize);
}


/* ====================================
   Sidebar and Docs Menus */

.list-menu {
	cursor: default;
}
.list-menu ul,
.list-menu li {
	margin: 0;
	padding: 0;
}
.list-menu a,
.list-menu .active {
	line-height: 1rem;
	font-size: 1rem;
}
.list-menu .active .list-menu-title {
	color: var(--accentColor) !important;
}

.sidebar .list-menu {
	padding-top: calc(var(--barSize));
}
.list-menu-project > .list-menu-title {
	display: none !important;
}
.sidebar .list-menu-category {
	padding-top: calc(var(--marginSize) * 0.5);
}
.sidebar .list-menu-title {
	display: block;
	width: 100%;
}

.sidebar ul ul .list-menu-title {
	padding-left: var(--marginSize);
	padding-right: calc(var(--marginSize) / 2);
}
.sidebar ul ul ul .list-menu-title {
	padding-left: calc(var(--marginSize) * 1.7);
	color: var(--colorGrey4);
}

.list-menu h1,
.list-menu h2,
.list-menu h3,
.list-menu h4,
.list-menu h5,
.list-menu h6 {
	margin: 0.2em 0;
	padding: 0.2em 0;
}

.docs header {
	display: none;
}
.docs .list-menu {
	padding-top: calc(var(--barSize) / 2);
}
.docs .list-menu-project > .list-menu-title {
	display: none;
}
.docs .list-menu-categories {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: var(--marginSize);
}
.docs .list-menu-category {
	grid-column: span 1;
	grid-row: span 1;
	margin-bottom: var(--marginSize);
}
.docs .list-menu-category > .list-menu-title a {
	all: unset;
}
.docs .list-menu-items {
	padding: calc(var(--marginSize) * 0.5) var(--marginSize);
	background: white;
	border-radius: 3px;
}


/* ====================================
   Error */

.error section {
	margin: 3em 0;
	padding: 1.5em 0;
	text-align: center;
}
.error h1 {
	font-size: 4rem;
}
.error h2,
.error h3 {
	font-size: 2.5rem;
}
.error section {
	margin: 0;
}
.error h1 {
	margin-bottom: 0;
}


/* ====================================
   Main Content */

.parentcrumbs {
	display: none;
}


.block table {
	font-size: 1em;
	margin: 2em 0;
	width: 100%;
}
.block th,
.block td {
	padding: var(--marginSize);
}
.block th {
	background: var(--tableHeader);
	color: white;
	font: var(--headingFont);
}
.block tr:nth-child(2n+2) {
	background: var(--tableOddRow);
}

.block {
	line-height: 1.4em;
}
.block-header {
	padding: calc(var(--barSize) / 2) 0;
	text-align: center;
}
.block-header h1 {
	color: var(--accentColor);
	margin-bottom: 0.4em;
}
.block-header h2 {
	margin: 0 auto;
	max-width: 75%;
	font-family: var(--headingFontLight);
	font-size: 1rem;
}
.block-content {
	padding: calc(var(--paddingSize) / 2) var(--paddingSize);
	overflow-y: auto;
	padding-bottom: 5em;
}
.block-footer {
	margin: 1em 0;
}
.block-edit a {
	position: absolute;
	bottom: 7em;
	right: 1em;
	border: 1px solid var(--colorGrey4);
	border-radius: 1em;
	padding: 0.5em 1em;
	color: var(--colorGrey4) !important;
}

.prev-next {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "prev next";
}
.prev {
	grid-area: prev;
}
.up {
	text-align: center;
	grid-area: up;
	display: none;
}
.next {
	text-align: right;
	grid-area: next;
}
.prev:hover,
.up:hover,
.next:hover {
	text-decoration: none;
}
.prev:hover .title,
.up:hover .title,
.next:hover .title {
	text-decoration: underline;
}
.prev-next .icon {
	display: block;
}

.block-content {
	background: var(--contentBackground);
	border-radius: 1em;
}

/* fix for anchor links */
.block :target {
	margin-top: 0;
	padding-top: var(--barSize);
}

.block img {
	display: block;
	margin: 1em auto;
}

.block iframe,
.block table,
.block img {
	max-width: 100%;
}


@media screen and (max-width: 1200px) {
	.docs .list-menu-categories {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 850px) {
	.sidebar {
		left: calc(var(--sidebarSize) * -1);
	}
	.contentbar {
		padding-left: var(--paddingSize);
	}
}


@media screen and (max-width: 700px) {
	body {
		--paddingSize: 2rem;
		--marginSize: 7%;
	}
	.gsc-results-wrapper-visible {
		box-sizing: border-box !important;
		top: 0 !important;
		left: 0 !important;
		width: 100% !important;
		height: 100% !important;
		padding: 2rem var(--paddingSize) !important;
	}
	.topbar {
		grid-template-columns: 1fr 30%;
	}
}


@media screen and (max-width: 600px) {
	body {
		--paddingSize: 5%;
	}
	.block th,
	.block td {
		padding: var(--marginSize) 0;
	}
	.block-edit,
	.up,
	.bottombar .links {
		display: none;
	}
	.topbar {
		grid-template-columns: 1fr;
		grid-template-areas: "links";
	}
	.topbar .search {
		display: none;
	}
}

@media screen and (max-width: 420px) {
	.topbar .secondary {
		display: none;
	}
}